<app-menu></app-menu>
<div class = "loginWrapper">
    <div class="hw">
        <h1>Employee Login</h1>
    </div>
    <div class="loginContainer">
        <div class="textLogCon"><span class="log"> Username </span><input [(ngModel)]="employee.email"></div>
        <div class="textLogCon"><span class="log"> Password </span> <input [(ngModel)]="employee.password" type="password"></div>
        <button (click)="logIn()">Sign In</button>
    </div>
    <div class="mes">
        {{message}}
    </div>
</div>