.smMenuContainer {
    width: 330px;
    margin: auto;
    border-style: solid;
    border-radius: 20px;
    padding: 10px;
}
.header {
    text-align: center;
}
.btnContainer {
    margin-left: 70%;
}