<app-menu></app-menu>
<router-outlet></router-outlet>
<div class="titleContainer">
    <h1>Customers List</h1>
</div>

<div class="infoContainer">
   <input [(ngModel)]="substr" placeholder="Search"> | <a routerLink="/customer/new">Add New Customer</a> | <span>{{emp.email}}</span>
</div>
<div class="tableContainer">
    <table class ="table table-dark table-striped">
        <thead> 
            <th><button (click)="sortOrder('id')" class="btn btn-link">Id</button></th>
            <th><button (click)="sortOrder('code')" class="btn btn-link">Code</button></th>
            <th><button (click)="sortOrder('name')" class="btn btn-link">Name</button></th>
            <th><button (click)="sortOrder('sales')" class="btn btn-link">Sales</button></th>
            <th><button (click)="sortOrder('active')" class="btn btn-link">Active</button></th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr *ngFor="let c of customers | searchCustomer:substr | sort:sortCol:sortAsc" >
                <td>{{c.id}}</td>
                <td>{{c.code}}</td>
                <td>{{c.name}}</td>
                <td>{{c.sales |currency}}</td>
                <td>{{c.active | bool:locale}}</td>
                <td><a routerLink="/customer/{{c.id}}">Details</a> | <a routerLink="/customer/edit/{{c.id}}">Edit</a></td>
            </tr>
        </tbody>
    </table>
</div>