<app-menu></app-menu>
<router-outlet></router-outlet>
<div class="wrapper">
    <div class="header">
        <h2>Item Details</h2>
    </div>
    <div class="smMenuContainer">
        <div class="smTableContainer">
            <table class ="table table-dark table-sm">
                <tbody>
                    <tr>
                        <td>ID</td>
                        <td>{{item.id}}</td>
                    </tr>
                    <tr>
                        <td>Item Name</td>
                        <td>{{item.name}}</td>
                    </tr>
                    <tr>
                        <td>UPC</td>
                        <td>{{item.upc}}</td>
                    </tr>
                    <tr>
                        <td>Item Price</td>
                        <td>{{item.price}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="btnContainer"><button class="btn btn-dark btn-sm" (click)="del()">Delete Item</button></div>
    </div>
    <div class="messageContainer">{{message}}</div>
</div>